
    <div style="margin-left:100px">
      <h2>Project Name: <%=@project.project_name%></h2>
    </div>
    <main role="main" class="container panel" style="padding: 2%;border: 1px solid #eee;">
        <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" class="accordin-image" data-parent="#accordion" href="#collapse1">Openshift Detail</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body well" style="margin: 3%;">
          <ul class="list-group">
            <li class="list-group-item"><strong>LanId: <%=@user.try(:lanid)%></strong></li>
            <li class="list-group-item"><strong>Console URL: </strong><span>https://ose.cpaas.service.test:8443</span></li>
            <li class="list-group-item"><strong>To intaract with OpenShift Platform you will need the <a href="https://www.openshift.org/download.html">OC client</a></strong></li>
            <li class="list-group-item"><h3>oc Login Steps</h3></strong>
                <ul class="inside">
                <li>oc login https://ose.cpaas.service.test:8443</li>
                <li>Username: <%=@user.try(:lanid)%></li>
                <li>Password: (Your globaltest_account_password)</li>
                </ul>
            </li>
            <li class="list-group-item"><strong>App Url:</strong></li>
            <li class="list-group-item"><strong>Db Connect:</strong>
              <ul class="inside">
                <li>Host: MysQL </li>
                <li>User: admin </li>
                <li>Password: ******* </li>
              </ul>
            </li>
          </ul> 
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a role="button" class="accordin-image" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapseOne" class="">
          Source Control  
          </a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body well" style="margin:3%">
	  <ul class="list-group">
            <li class="list-group-item"><strong>Git URL: </strong> <%=@project.try(:git_repo_url)%></li>
            <li class="list-group-item"><h3>Commands:</h3>
            <ul class="inside">
                <li>git clone <strong> <%=@project.try(:git_repo_url)%></strong></li>
                <li>git add .</li>
                <li>git commit -m "message"</li>
                <li>git push origin</li>
            </ul>
          </li>
<li class="list-group-item"><b>Username:- pocfly</b><br><b>Password:- ********</b></li>
          </ul>
          <div class="col-md5"><button type="submit" class="btn btn-primary">Start Build</button></div>
          </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" class="accordin-image" data-parent="#accordion" href="#collapse3">Project Detail</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body well" style="margin:3%">
          <ul class="list-group">
            <li class="list-group-item"><strong>Project startdate:</strong><%=@project.try(:exp_date)%></li>
            <li class="list-group-item"><strong>Project end-date:</strong><%=Date.parse(@project.try(:exp_date)) + 2.months%>
            <li class="list-group-item"><strong>Days Remaing:</strong><%=(Date.parse(@project.try(:exp_date)) + 2.months - Date.parse(@project.try(:exp_date))).to_i%> </li>

	    <li class="list-group-item"><strong>Jenkins URL: jenkins.apps.cpaas.service.test</strong>
		<br>
<b>Username :- admin</b><br>
<b>Password :- ********</b>
</li>
            <li class="list-group-item"><strong>Extend Project date:</strong></li>
	    <li class="list-group-item">
            <span class="input-group date" style="width:20%">
               <input type="text" class="form-control input-sm"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </span>
	   </li>
           <li class ="list-group-item"><strong>Build Application: </strong>
             <br>
             <% if @project.env == "Php"%>
             <b>oc new-app  --docker-image=172.30.200.79:5000/openshift/php-56-rhel7:lastest~<%=@project.try(:git_repo_url)%> --insecure-registry</b>
             <%else%>
             <b>oc new-app  --docker-image=172.30.200.79:5000/openshift/nodejs-4-rhel7:lastest~<%=@project.try(:git_repo_url)%> --insecure-registry</b>
             <%end%>
           </li>
	  <li class ="list-group-item"><strong>Useful commands: </strong><br>
1. <b>oc get pods</b> :- For pod status<br>
2. <b>oc describe pod pod_name</b> :- For detailed description<br>
3. <b>oc logs pod_name</b> : For pod logs
</li>
          </ul> 
        </div>
      </div>
    </div>
  </div> 
      <div class="col-md5"><%= link_to 'Delete Project', visitor_path(id: @project.try(:id)), method: :delete, class: "btn btn-danger" %></div>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
 


<style>
  /* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
.panel-title>a
  {
    display: block;
    padding: -1px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
  }
  @import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
  .accordin-image:after {
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;      
  }
.accordin-image.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

  
</style>

<script>
    $('.input-group.date').datepicker({
        format: "dd/mm/yyyy",
        startDate: new Date(),
        todayBtn: "linked",
        autoclose: true,
        todayHighlight: true
    });
</script>
