<div style="margin-top:30px">
<%= form_for @project, :as => :project, :url => visitors_path(@project) do |f| %>
    <div class="row">
        <div class="col-xs-6">
            <label class="col-md-3 control-label">Project Name</label>
            <%=f.text_field :project_name,class: "form-control input-lg", placeholder: "Enter Project"%>
            
        </div>
        <div class="col-xs-6">
            <label class="col-md-3 control-label">Environment</label>
            <%= f.select :env, options_for_select([["Select Env", ""], "Nodejs", "Php"]),{}, {:class => 'form-control input-lg'} %>

           
        </div>
    </div>
    <br>
    <div class="row">
                    
        <div class="col-xs-6">
            <label class="col-md-3 control-label">Database</label>
                        <%= f.select :db_name, options_for_select([["Select DB", ""], "Mysql", "Postgres"]),{},{:class => 'form-control input-lg'} %>
            
        </div>
                   
         <div class="col-xs-6">
     <label class="col-md-3 control-label">Storage</label>
                        <%=f.text_field :storage,class: "form-control", value: "50GB", readonly: true %>
            
        </div>
    </div>
    <br>
    <div class="row">
                   
        <div class="col-xs-6">
            <label class="col-md-3 control-label">vCPU</label>
           <div class="switch-field">
      
      <input type="radio" id="switch_3_left" name="project[vcpu]" value="1" checked/>
      <label for="switch_3_left">1</label>
      <input type="radio" id="switch_3_center" name="project[vcpu]" value="2" />
      <label for="switch_3_center">2</label>
			<input type="radio" id="switch_3_right" name="project[vcpu]" value="3" />
      <label for="switch_3_right">3</label>
                              <input type="radio" id="switch_10_right" name="project[vcpu]" value="4" />
      <label for="switch_10_right">4</label>
    </div>
        </div>
        <div class="col-xs-6">
            <label class="col-md-3 control-label">Memory</label>
           <div class="memory-field">
      <input type="radio" id="switch_4_left" name="project[memory]" value="2GB" checked/>
      <label for="switch_4_left">2GB</label>
      <input type="radio" id="switch_5_center" name="project[memory]" value="4GB" />
      <label for="switch_5_center">4GB</label>
                        <input type="radio" id="switch_6_right" name="project[memory]" value="8GB" />
      <label for="switch_6_right">8GB</label>
                              <input type="radio" id="switch_7_right" name="project[memory]" value="16GB" />
      <label for="switch_7_right">16GB</label>
                              <input type="radio" id="switch_8_right" name="project[memory]" value="32GB" />
      <label for="switch_8_right">32GB</label>
                           
    </div>
        </div>
    </div>
    <div class="row">
       <div class="col-xs-6">
                 <label class="col-md-3 control-label">Expiration Date</label>
             
             <div class="input-group date" style="width:30%">
               <input type="text" class="form-control input-sm" name="project[exp_date]"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
           
        </div>
    <div>
     <div class="col-sm-12 controls" style="margin-top: 30px">
       <%=f.submit 'Create Project', class: "btn btn-success"%>
       
    </div>
<%end%>
</div>

<style>
.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
	overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #A5DC86;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
</style>

<script>
    $('.date-picker').datepicker({
        format: "dd/mm/yyyy",
        startDate: new Date(),
        todayBtn: "linked",
        autoclose: true,
        todayHighlight: true
    });
</script>
