<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "PocFly" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Learn Rails" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <style>
   .bg_image{
     background-image:url(<%= asset_path 'Bg_img.jpg' %>);
     background-size: cover;
     min-height:600px;
   }
  </style>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="bg_image" style="background-color: #fff !important;">
      
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>  
</html>
